/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #e2e3e3;
    background-size: cover;
    color: #333;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dashboard-container {
    display: flex;
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    animation: fadeInMain 1.5s ease forwards;
}

@keyframes fadeInMain {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Barra superior */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideDownTopbar 1s ease-in-out;
}

@keyframes slideDownTopbar {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.topbar h1 {
    margin: 0;
    color: #ffffff; /* Color del título */
}

/* Contenido */
.content {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: fadeInContent 1.5s ease-in-out;
}

@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.content p {
    font-size: 16px;
    color: #000000;
}

