/* Estilos para el cuerpo de la página */
body {
    background-color: #E2E3E3; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para la tarjeta (el contenedor principal) */
.card {
    background-color: #ffffff; /* Color de fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    border: none;
}

/* Estilos para el encabezado "Acceso" */
.card-body h2 {
    color: #333333; /* Color del texto */
    font-weight: bold;
}

/* Estilos para los labels de los campos */
.form-label {
    color: #555555; /* Color del texto */
    font-size: 1rem;
}

/* Estilos para los campos de texto */
.form-control {
    border-color: #ced4da; /* Color del borde por defecto */
    border-radius: 5px;
}

/* Estilos para el botón de Iniciar Sesión */
.btn-primary {
    background-color: #540707; /* Color de fondo del botón */
    border-color: #540707; /* Color del borde del botón */
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

/* Estilos al pasar el mouse por el botón */
.btn-primary:hover {
    background-color: #EC1B1A; /* Color de fondo al pasar el mouse */
    border-color: #EC1B1A;
}

/* Estilos para el enlace de "Regístrate aquí" */
.text-decoration-none {
    color: #540707; /* Color del enlace */
}

/* Estilos al pasar el mouse por el enlace */
.text-decoration-none:hover {
    color: #EC1B1A;
}

/* Modifica el color del borde azul al hacer clic en los inputs */
.form-control:focus {
    border-color: #EC1B1A; /* Cambia a tu color preferido */
    box-shadow: 0 0 0 0.25rem rgba(100, 7, 23, 0.100); /* Sombra alrededor del input */
}